In [8]:
from oauth2client.service_account import ServiceAccountCredentials
import gspread, pprint
import pandas as pd
import numpy as np
from datetime import datetime

In [9]:
scope = ['https://spreadsheets.google.com/feeds','https://www.googleapis.com/auth/drive']
creds = ServiceAccountCredentials.from_json_keyfile_name('bplinebot-3ccea59ad6d6.json', scope)
client = gspread.authorize(creds)
pp = pprint.PrettyPrinter()
def get_client():
    scope = ['https://spreadsheets.google.com/feeds','https://www.googleapis.com/auth/drive']
    creds = ServiceAccountCredentials.from_json_keyfile_name('bplinebot-3ccea59ad6d6.json', scope)
    client = gspread.authorize(creds)
    return client

In [10]:
#sheet = client.open('AbbokIncomeAssesmentV03').get_worksheet(2)
spread = client.open('userCheckin')

In [11]:
sheet = spread.worksheet('log')

In [12]:
list_of_lists = sheet.get_all_values()

In [14]:
df = pd.DataFrame(list_of_lists[1:], columns = list_of_lists[0])
df = df[pd.to_datetime(df['DATE']).dt.month == datetime.today().month]#datetime.today().month
df.head(10)

      ID        DATE      TIME USER_ID TYPE
438  439  2019/09/02  09:29 AM       2    1
439  440  2019/09/02  09:41 AM       3    1
440  441  2019/09/02  09:42 AM       7    1
441  442  2019/09/02  10:24 AM       8    1
442  443  2019/09/02  12:20 PM       1    1
443  444  2019/09/02  12:22 PM       4    1
444  445  2019/09/02  07:18 PM       2    0
445  446  2019/09/02  07:30 PM       8    0
446  447  2019/09/02  07:45 PM       1    0
447  448  2019/09/02  07:45 PM       4    0

In [15]:
df['TIME'] = pd.to_datetime(df['TIME']).values.astype(np.int64)
df['DATE'] = pd.to_datetime(df['DATE']).dt.date
df['USER_ID'] = df['USER_ID'].astype(int)
df['TYPE'] = df['TYPE'].astype(int)
df = df.set_index('ID')
df.shape

(88, 4)

In [19]:
df2 = pd.DataFrame(df.groupby(['USER_ID','DATE','TYPE'])['TIME'].mean())

In [20]:
df2['INOUT'] = pd.to_datetime(df2['TIME']).dt.time
df2

                                        TIME     INOUT
USER_ID DATE       TYPE
1       2019-09-02 0     1568058300000000000  19:45:00
                   1     1568031600000000000  12:20:00
        2019-09-03 0     1568057700000000000  19:35:00
                   1     1568035680000000000  13:28:00
        2019-09-04 0     1568058000000000000  19:40:00
                   1     1568033940000000000  12:59:00
        2019-09-05 0     1568063480000000000  21:11:20
                   1     1568056500000000000  19:15:00
        2019-09-06 0     1568043760000000000  15:42:40
                   1     1568036700000000000  13:45:00
        2019-09-09 1     1568029710000000000  11:48:30
2       2019-09-02 0     1568056680000000000  19:18:00
                   1     1568021340000000000  09:29:00
        2019-09-03 0     1568044800000000000  16:00:00
                   1     1568020980000000000  09:23:00
        2019-09-04 1     1568021760000000000  09:36:00
        2019-09-05 0     1568019720000000000  09:02:00
                   1     1568024880000000000  10:28:00
        2019-09-06 0     1568047140000000000  16:39:00
                   1     1568026920000000000  11:02:00
        2019-09-09 1     1568019120000000000  08:52:00
3       2019-09-02 0     1568071260000000000  23:21:00
                   1     1568022060000000000  09:41:00
        2019-09-03 0     1568059680000000000  20:08:00
                   1     1568033640000000000  12:54:00
        2019-09-04 1     1568023380000000000  10:03:00
        2019-09-05 0     1568029380000000000  11:43:00
                   1     1568054370000000000  18:39:30
        2019-09-06 0     1568041755000000000  15:09:15
                   1     1568034920000000000  13:15:20
...                                      ...       ...
7       2019-09-02 1     1568022120000000000  09:42:00
        2019-09-03 0     1568040240000000000  14:44:00
                   1     1568021640000000000  09:34:00
        2019-09-04 0     1568059020000000000  19:57:00
                   1     1568020440000000000  09:14:00
        2019-09-05 0     1568062500000000000  20:55:00
                   1     1568027700000000000  11:15:00
        2019-09-06 0     1568058840000000000  19:54:00
                   1     1568021040000000000  09:24:00
        2019-09-09 1     1568022000000000000  09:40:00
8       2019-09-02 0     1568057400000000000  19:30:00
                   1     1568024640000000000  10:24:00
        2019-09-03 0     1568058180000000000  19:43:00
                   1     1568021580000000000  09:33:00
        2019-09-04 0     1568057520000000000  19:32:00
                   1     1568025300000000000  10:35:00
        2019-09-05 0     1568057880000000000  19:38:00
                   1     1568023320000000000  10:02:00
        2019-09-06 0     1568052480000000000  18:08:00
                   1     1568022420000000000  09:47:00
        2019-09-09 1     1568024160000000000  10:16:00
9       2019-09-03 0     1568057760000000000  19:36:00
                   1     1568021400000000000  09:30:00
        2019-09-04 0     1568060160000000000  20:16:00
                   1     1568021040000000000  09:24:00
        2019-09-05 0     1568063040000000000  21:04:00
                   1     1568020680000000000  09:18:00
        2019-09-06 0     1568062380000000000  20:53:00
                   1     1568032260000000000  12:31:00
        2019-09-09 1     1568019300000000000  08:55:00

[69 rows x 2 columns]

In [94]:
df2 = df2.reset_index()

In [95]:
w_out = df2[df2['TYPE'] == 0].reset_index().drop(["index","TYPE"], axis=1)
w_in = df2[df2['TYPE'] == 1].reset_index().drop(["index","TYPE"], axis=1)

In [96]:
w_total = w_out.copy()
w_total['TIME'] = w_out['TIME'] - w_in['TIME']
w_total

Empty DataFrame
Columns: [USER_ID, TIME, INOUT]
Index: []

In [97]:
w_total['TIME'] = pd.to_datetime(w_total['TIME']).dt.time

In [98]:
w_total

Empty DataFrame
Columns: [USER_ID, TIME, INOUT]
Index: []

In [99]:
w_total[w_total['USER_ID'] == 1]['TIME'].values[0].strftime("%H:%M:%S")

IndexError: index 0 is out of bounds for axis 0 with size 0