In [1]:
from oauth2client.service_account import ServiceAccountCredentials
import gspread, pprint
import pandas as pd
import numpy as np
from datetime import datetime

In [2]:
scope = ['https://spreadsheets.google.com/feeds','https://www.googleapis.com/auth/drive']
creds = ServiceAccountCredentials.from_json_keyfile_name('bplinebot-3ccea59ad6d6.json', scope)
client = gspread.authorize(creds)
pp = pprint.PrettyPrinter()
def get_client():
    scope = ['https://spreadsheets.google.com/feeds','https://www.googleapis.com/auth/drive']
    creds = ServiceAccountCredentials.from_json_keyfile_name('bplinebot-3ccea59ad6d6.json', scope)
    client = gspread.authorize(creds)
    return client

In [3]:
#sheet = client.open('AbbokIncomeAssesmentV03').get_worksheet(2)
spread = client.open('userCheckin')

In [4]:
sheet = spread.worksheet('log')

In [5]:
list_of_lists = sheet.get_all_values()

In [6]:
df = pd.DataFrame(list_of_lists[1:], columns = list_of_lists[0])
df = df[pd.to_datetime(df['DATE']).dt.month == 8]#datetime.today().month
df.head(5)

      ID        DATE      TIME USER_ID TYPE
264  265  2019/08/01  09:52 AM       7    1
265  266  2019/08/01  12:07 PM       4    1
266  267  2019/08/01  06:45 PM       4    0
267  268  2019/08/01  06:50 PM       7    0
268  269  2019/08/02  10:01 AM       7    1

In [7]:
df['TIME'] = pd.to_datetime(df['TIME']).values.astype(np.int64)
df['DATE'] = pd.to_datetime(df['DATE']).dt.date
df['USER_ID'] = df['USER_ID'].astype(int)
df['TYPE'] = df['TYPE'].astype(int)
df = df.set_index('ID')
df.shape

(174, 4)

In [8]:
df2 = pd.DataFrame(df.groupby(['USER_ID', 'TYPE'])['TIME'].mean())

In [9]:
df2['INOUT'] = pd.to_datetime(df2['TIME']).dt.time
df2

                             TIME            INOUT
USER_ID TYPE
1       0     1568060584615384576  20:23:04.615384
        1     1568037600000000000         14:00:00
2       0     1568044226249999616  15:50:26.249999
        1     1568026402499999744  10:53:22.499999
3       0     1568051747142857216  17:55:47.142857
        1     1568028012857142784  11:20:12.857142
4       0     1568059029230769152  19:57:09.230769
        1     1568034327692307456  13:05:27.692307
7       0     1568056332631578624  19:12:12.631578
        1     1568022221052631808  09:43:41.052631
8       0     1568055160000000000         18:52:40
        1     1568022765000000256         09:52:45

In [10]:
df2 = df2.reset_index()

In [11]:
w_out = df2[df2['TYPE'] == 0].reset_index().drop(["index","TYPE"], axis=1)
w_in = df2[df2['TYPE'] == 1].reset_index().drop(["index","TYPE"], axis=1)

In [12]:
w_total = w_out.copy()
w_total['TIME'] = w_out['TIME'] - w_in['TIME']
w_total

   USER_ID            TIME            INOUT
0        1  22984615384576  20:23:04.615384
1        2  17823749999872  15:50:26.249999
2        3  23734285714432  17:55:47.142857
3        4  24701538461696  19:57:09.230769
4        7  34111578946816  19:12:12.631578
5        8  32394999999744         18:52:40

In [13]:
w_total['TIME'] = pd.to_datetime(w_total['TIME']).dt.time

In [14]:
w_total

   USER_ID             TIME            INOUT
0        1  06:23:04.615384  20:23:04.615384
1        2  04:57:03.749999  15:50:26.249999
2        3  06:35:34.285714  17:55:47.142857
3        4  06:51:41.538461  19:57:09.230769
4        7  09:28:31.578946  19:12:12.631578
5        8  08:59:54.999999         18:52:40

In [15]:
w_total[w_total['USER_ID'] == 1]['TIME'].values[0].strftime("%H:%M:%S")

'06:23:04'