In [28]:
from oauth2client.service_account import ServiceAccountCredentials
import gspread, pprint
import pandas as pd
import numpy as np

In [29]:
scope = ['https://spreadsheets.google.com/feeds','https://www.googleapis.com/auth/drive']
creds = ServiceAccountCredentials.from_json_keyfile_name('bplinebot-3ccea59ad6d6.json', scope)
client = gspread.authorize(creds)
pp = pprint.PrettyPrinter()

In [30]:
#sheet = client.open('AbbokIncomeAssesmentV03').get_worksheet(2)
spread = client.open('userCheckin')

In [31]:
spread.worksheets()

[<Worksheet 'sum' id:576946557>,
 <Worksheet 'log' id:0>,
 <Worksheet 'type' id:252782580>,
 <Worksheet 'userStatus' id:1060831238>,
 <Worksheet 'key' id:1108603979>]

In [32]:
sheet = spread.worksheet('log')

In [33]:
list_of_lists = sheet.get_all_values()

In [68]:
df = pd.DataFrame(list_of_lists[1:], columns = list_of_lists[0])
#dfc['Time_of_Sail'] = pd.to_datetime(dfc['Time_of_Sail'],format= '%H:%M:%S' ).dt.time
#df['TIME'] = pd.to_datetime(df['TIME']).dt.time
df['TIME'] = pd.to_datetime(df['TIME']).values.astype(np.int64)
#df['TIME'] = pd.to_timedelta(df['TIME'])
#df['TIME'] = pd.to_datetime(df['TIME']).values.astype(np.int64)
df['DATE'] = pd.to_datetime(df['DATE']).dt.date
df['USER_ID'] = df['USER_ID'].astype(int)
df['TYPE'] = df['TYPE'].astype(int)
df = df.set_index('ID')
df.head(10)

          DATE                 TIME  USER_ID  TYPE
ID
1   2019-06-06  1563936300000000000        1     1
2   2019-06-06  1563936360000000000        1     0
3   2019-06-11  1563983460000000000        3     1
4   2019-06-11  1563983520000000000        3     0
5   2019-06-11  1563983700000000000        2     1
6   2019-06-11  1563984120000000000        1     1
7   2019-06-11  1563984240000000000        3     1
8   2019-06-11  1563984240000000000        2     0
9   2019-06-11  1563984240000000000        4     1
10  2019-06-11  1563991380000000000        1     0

In [75]:
df[(df['USER_ID'] == 1) & (df['TYPE'] == 1)].head(5)

          DATE                 TIME  USER_ID  TYPE
ID
1   2019-06-06  1563936300000000000        1     1
6   2019-06-11  1563984120000000000        1     1
20  2019-06-14  1563979080000000000        1     1
28  2019-06-17  1563975180000000000        1     1
33  2019-06-18  1563974460000000000        1     1

In [101]:
df2 = pd.DataFrame(pd.to_datetime(df.groupby(['USER_ID', 'TYPE'])['TIME'].mean()).dt.strftime('%H:%M:%S'))
df2

                  TIME
USER_ID TYPE
1       0     17:45:51
        1     13:45:34
2       0     16:56:31
        1     10:19:19
3       0     17:21:03
        1     11:06:06
4       0     19:09:47
        1     12:23:57
6       0     16:54:10
        1     09:45:03
7       0     19:24:26
        1     09:44:13

In [102]:
df2 = df2.reset_index(level='TYPE')
df2

         TYPE      TIME
USER_ID
1           0  17:45:51
1           1  13:45:34
2           0  16:56:31
2           1  10:19:19
3           0  17:21:03
3           1  11:06:06
4           0  19:09:47
4           1  12:23:57
6           0  16:54:10
6           1  09:45:03
7           0  19:24:26
7           1  09:44:13

AttributeError: 'DataFrame' object has no attribute 'to_timedelta'