In [111]:
from oauth2client.service_account import ServiceAccountCredentials
import gspread, pprint
import pandas as pd
import numpy as np
from datetime import datetime

In [112]:
scope = ['https://spreadsheets.google.com/feeds','https://www.googleapis.com/auth/drive']
creds = ServiceAccountCredentials.from_json_keyfile_name('bplinebot-3ccea59ad6d6.json', scope)
client = gspread.authorize(creds)
pp = pprint.PrettyPrinter()

In [113]:
#sheet = client.open('AbbokIncomeAssesmentV03').get_worksheet(2)
spread = client.open('userCheckin')

In [114]:
spread.worksheets()

[<Worksheet 'sum' id:576946557>,
 <Worksheet 'log' id:0>,
 <Worksheet 'type' id:252782580>,
 <Worksheet 'userStatus' id:1060831238>,
 <Worksheet 'key' id:1108603979>]

In [115]:
sheet = spread.worksheet('log')

In [116]:
list_of_lists = sheet.get_all_values()

In [117]:
df = pd.DataFrame(list_of_lists[1:], columns = list_of_lists[0])
df = df[pd.to_datetime(df['DATE']).dt.month == datetime.today().month]

In [118]:
df['TIME'] = pd.to_datetime(df['TIME']).values.astype(np.int64)
df['DATE'] = pd.to_datetime(df['DATE']).dt.date
df['USER_ID'] = df['USER_ID'].astype(int)
df['TYPE'] = df['TYPE'].astype(int)
df = df.set_index('ID')
df.head(10)
df.shape

(66, 4)

In [119]:
df2 = pd.DataFrame(df.groupby(['USER_ID', 'TYPE'])['TIME'].mean())

In [120]:
df2 = df2.reset_index()

In [121]:
w_out = df2[df2['TYPE'] == 0].reset_index().drop(["index","TYPE"], axis=1)
w_in = df2[df2['TYPE'] == 1].reset_index().drop(["index","TYPE"], axis=1)

In [122]:
w_total = w_out.copy()
w_total['TIME'] = w_out['TIME'] - w_in['TIME']
w_total

   USER_ID            TIME
0        1  24105000000000
1        2  21184285714176
2        3  29968000000000
3        4  22456000000000
4        7  32774166666752
5        8  30600000000000

In [123]:
w_total['TIME'] = pd.to_datetime(w_total['TIME']).dt.time

In [126]:
w_total

   USER_ID             TIME
0        1         06:41:45
1        2  05:53:04.285714
2        3         08:19:28
3        4         06:14:16
4        7  09:06:14.166666
5        8         08:30:00

In [137]:
w_total[w_total['USER_ID'] == 1]['TIME'].values[0].strftime("%H:%M:%S")

'06:41:45'